<h1>Listing Roms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for rom <- @roms do %>
    <tr>
      <td><%= rom.name %></td>
      <td>
        <span><%= link "Show", to: Routes.rom_path(@conn, :show, rom) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
