<script type="text/javascript">
  window.onload = function() {
    window.nes_load_url("nes-canvas", "<%= Routes.rom_rom_path(@conn, :body, @rom) %>");
  }
</script>

<div style="margin: auto; width: 85%;">
  <canvas id="nes-canvas" width="256" height="240" style="width: 100%"/>
</div>
<p>
  DPad: Arrow keys<br/>Start: Return, Select: Tab<br/>A Button: A, B Button: S
</p>
