<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Raniulator" %></h1>
</section>

<section class="row">
  <article class="column">
    <p>
      Use your special dropbox link.
    </p>
    <.form let={f} for={@conn} phx-change="validate" phx-submit="save">
      <%= label f, :link %>
      <%= text_input f, :link %>
      <%= error_tag f, :link %>

      <%= submit "Submit" %>
    </.form>
  </article>
</section>
